**__pycache__**
*_config.*
.idea
.terraform
ansible-sandbox/**/*.retry
terraform/airpair-demo/ssh/insecure-deployer
**.terraform.tfstate**
terraform.tfstate
terraform.tfstate.backup
.DS_Store

*.pyc
.pytest_cache/
dist/
build/
*.egg-info/

.tox/
.coverage
.project
.settings
.vscode
dev-infra/tools/mysql-data

dist/
npm-debug.log
yarn-error.log
node_modules/
.DS_Store
.terraform
*.tfstate
*.tfstate.backup
**generated**

**/.gradle/**
.classpath
**/out/**
gradle-groovy-jar-example/bin/**

venv/